## Importing the Libraries

In [101]:
import numpy as np
import pandas as pd

## Importing the Dataset

In [102]:
dataset = pd.read_csv("CarPrice_Assignment.csv")
dataset.head()

,car_ID,symboling,CarName,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,...,enginesize,fuelsystem,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
0,1,3,alfa-romero giulia,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495.0
1,2,3,alfa-romero stelvio,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500.0
2,3,1,alfa-romero Quadrifoglio,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500.0
3,4,2,audi 100 ls,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950.0
4,5,2,audi 100ls,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450.0

## Data PreProcessing

In [103]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 26 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   car_ID            205 non-null    int64
 1   symboling         205 non-null    int64
 2   CarName           205 non-null    object
 3   fueltype          205 non-null    object
 4   aspiration        205 non-null    object
 5   doornumber        205 non-null    object
 6   carbody           205 non-null    object
 7   drivewheel        205 non-null    object
 8   enginelocation    205 non-null    object
 9   wheelbase         205 non-null    float64
 10  carlength         205 non-null    float64
 11  carwidth          205 non-null    float64
 12  carheight         205 non-null    float64
 13  curbweight        205 non-null    int64
 14  enginetype        205 non-null    object
 15  cylindernumber    205 non-null    object
 16  enginesize        205 non-null    int64
 17  fuelsystem        205 non-null    object
 18  boreratio         205 non-null    float64
 19  stroke            205 non-null    float64
 20  compressionratio  205 non-null    float64
 21  horsepower        205 non-null    int64
 22  peakrpm           205 non-null    int64
 23  citympg           205 non-null    int64
 24  highwaympg        205 non-null    int64
 25  price             205 non-null    float64
dtypes: float64(8), int64(8), object(10)
memory usage: 41.8+ KB

In [104]:
from sklearn.preprocessing import LabelEncoder
encoder= LabelEncoder()
for i in dataset.columns:
    if dataset[i].dtype=="object":
        dataset[i]=encoder.fit_transform(dataset[i])

In [105]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 26 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   car_ID            205 non-null    int64
 1   symboling         205 non-null    int64
 2   CarName           205 non-null    int32
 3   fueltype          205 non-null    int32
 4   aspiration        205 non-null    int32
 5   doornumber        205 non-null    int32
 6   carbody           205 non-null    int32
 7   drivewheel        205 non-null    int32
 8   enginelocation    205 non-null    int32
 9   wheelbase         205 non-null    float64
 10  carlength         205 non-null    float64
 11  carwidth          205 non-null    float64
 12  carheight         205 non-null    float64
 13  curbweight        205 non-null    int64
 14  enginetype        205 non-null    int32
 15  cylindernumber    205 non-null    int32
 16  enginesize        205 non-null    int64
 17  fuelsystem        205 non-null    int32
 18  boreratio         205 non-null    float64
 19  stroke            205 non-null    float64
 20  compressionratio  205 non-null    float64
 21  horsepower        205 non-null    int64
 22  peakrpm           205 non-null    int64
 23  citympg           205 non-null    int64
 24  highwaympg        205 non-null    int64
 25  price             205 non-null    float64
dtypes: float64(8), int32(10), int64(8)
memory usage: 33.8 KB

In [106]:
dataset.head()

,car_ID,symboling,CarName,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,...,enginesize,fuelsystem,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
0,1,3,2,1,0,1,0,2,0,88.6,...,130,5,3.47,2.68,9.0,111,5000,21,27,13495.0
1,2,3,3,1,0,1,0,2,0,88.6,...,130,5,3.47,2.68,9.0,111,5000,21,27,16500.0
2,3,1,1,1,0,1,2,2,0,94.5,...,152,5,2.68,3.47,9.0,154,5000,19,26,16500.0
3,4,2,4,1,0,0,3,1,0,99.8,...,109,5,3.19,3.40,10.0,102,5500,24,30,13950.0
4,5,2,5,1,0,0,3,0,0,99.4,...,136,5,3.19,3.40,8.0,115,5500,18,22,17450.0

In [107]:
X=dataset.iloc[:,:-1].values
y=dataset.iloc[:,-1].values

## Splitting The dataset into Training Set and Test Set

In [108]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2)

## Model ( Mulitple Linear Regression)

In [109]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()
model.fit(X_train,y_train)

LinearRegression()

## Predicting The Test Results

In [110]:
y_pred= model.predict(X_test)
np.set_printoptions(precision=2)
print(np.concatenate((y_pred.reshape(len(y_pred),1),y_test.reshape(len(y_test),1)),1))

[[25031.77 41315.  ]
 [ 7806.52  7463.  ]
 [18788.45 15690.  ]
 [13571.87 11549.  ]
 [ 9889.31  9549.  ]
 [ 4870.73  7349.  ]
 [ 8412.08  7775.  ]
 [ 7000.96  6669.  ]
 [ 9799.65  8189.  ]
 [ 3857.66  7898.  ]
 [13162.74 15510.  ]
 [ 6256.16  7738.  ]
 [ 7592.    6575.  ]
 [18352.92 21105.  ]
 [15425.04 14869.  ]
 [12228.79 11245.  ]
 [ 7158.03  6189.  ]
 [34350.37 37028.  ]
 [ 7213.28  7198.  ]
 [28850.94 35550.  ]
 [16039.16 12764.  ]
 [19931.16 19045.  ]
 [23768.67 19699.  ]
 [ 4936.01  6479.  ]
 [ 6609.15  6095.  ]
 [19193.09 13200.  ]
 [ 7096.28  8916.5 ]
 [ 6421.78  7603.  ]
 [ 5537.1   6938.  ]
 [14845.11 12629.  ]
 [ 4986.77  6338.  ]
 [ 6181.05  5572.  ]
 [12338.14  9989.  ]
 [ 5035.52  6918.  ]
 [ 9297.04 13645.  ]
 [ 9178.8  10198.  ]
 [15117.35 15985.  ]
 [20435.66 15998.  ]
 [10115.16  9279.  ]
 [21908.14 18399.  ]
 [16592.91 13495.  ]]

## R2 Square

In [111]:
from sklearn.metrics import r2_score
r2_score(y_test,y_pred)

0.8104304228189454